.dhx_cal_save_button{
	background-image:url("../imgs_glossy/buttons.gif");
	background-position: -60px 0;
	left:400px; width:67px; height: 17px;
	padding-top: 3px;
	cursor:pointer;
	text-align:center;
}
