/* -------------- */
/* spinner CSS    */
/* -------------- */
.big-spinner-container {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    background: #FFF;
    opacity: 0.75;
    z-index: 5000000;
}

.big-spinner {
    color: official;
    display: inline-block;
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -32px;
    margin-top: -32px;
}

.big-spinner div {
    transform-origin: 32px 32px;
    animation: big-spinner 1.2s linear infinite;
}

.big-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #000;
}

.big-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.big-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.big-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.big-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.big-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.big-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.big-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.big-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.big-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.big-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.big-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.big-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes big-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* small spinner */
.small-spinner {
    display: inline-flex;
    right: 0px;
    width: 20px;
    margin-right: 3px;
}

.small-spinner div {
    display: inline-block;
    position: absolute;
    right: 5px;
    width: 3px;
    background: #f2d600;
    animation: small-spinner 1.0s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.small-spinner div:nth-child(1) {
    right: 5px;
    animation-delay: -0.24s;
}

.small-spinner div:nth-child(2) {
    right: 10px;
    animation-delay: -0.12s;
}

.small-spinner div:nth-child(3) {
    right: 15px;
    animation-delay: 0;
}

@keyframes small-spinner {
    0% {
        top: 12px;
        height: 6px;
    }
    50% {
        top: 10px;
        height: 8px;
    }
    100% {
        top: 8px;
        height: 10px;
    }
}

/* no spinner */
.no-spinner {
    display: inline-flex;
    right: 0px;
    width: 20px;
    margin-right: 3px;
}

.no-spinner div {
    display: inline-block;
    position: absolute;
    right: 5px;
    width: 3px;
    background: #f2d600;
}

.no-spinner div:nth-child(1) {
    right: 5px;
    top: 12px;
    height: 6px;
}

.no-spinner div:nth-child(2) {
    right: 10px;
    top: 10px;
    height: 8px;
}

.no-spinner div:nth-child(3) {
    right: 15px;
    top: 8px;
    height: 10px;
}

/* truncate info */
.truncate-info {
    display: inline-flex;
    right: 0px;
    width: 20px;
    margin-right: 3px;
    color: #f2d600;
    fill: #f2d600;
}

.truncate-info svg path {
    stroke: #f2d600;
}

.truncate-info svg line {
    stroke: #f2d600;
}

/** END CSS Spinner **/

/* -------------- */
/* menu CSS       */
/* -------------- */
.slick-gridmenu-button-custom {
    display: grid;
    display: -ms-flexbox;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    border-left: 1px solid #e6e6e6;
    height: 30px;
}

.slick-gridmenu {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    background: #e6e6e6;
    color: #555555;
}

.slick-gridmenu .title {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/* -------------- */
/* detailView CSS */
/* -------------- */
.detail-container {
    max-height: 100% !important;
}

.detail_view {
    padding: 10px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

.detail_line {
    font-size: 12px;
}

.detailView-toggle.expand {
    background: none;
    margin-left: 4px;
    width: 0;
    height: 0;
    border-left: 8px solid #555555;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.detailView-toggle.collapse {
    background: none;
    margin-left: 4px;
    width: 0;
    height: 0;
    border: 4px solid #555555;
}

.dynamic-cell-detail {
    border-top: 0px dotted #555555;
    border-bottom: 1px dotted #555555;
    z-index: 10;
}

/* -------------- */
/* sorting CSS    */
/* -------------- */
.slick-sort-indicator {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #e6e6e6;
}

.slick-sort-indicator.slick-sort-indicator-asc {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #555555;
}

.slick-sort-indicator.slick-sort-indicator-desc {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #555555;
}

/* -------------- */
/* general CSS    */
/* -------------- */
.slick-header-column {
    font-weight: bold;
}

.slick-header-column-left .slick-column-name {
    position: absolute;
    top: 0px;
    left: 5px;
    bottom: 0px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slick-header-column-center .slick-column-name {
    position: absolute;
    top: 0px;
    left: 5px;
    bottom: 0px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-header-column-right .slick-column-name {
    position: absolute;
    top: 0px;
    left: 5px;
    bottom: 0px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.slick-header-disable {
    background-color: #9B9B9B !important;
}

.slick-group {
    background-color: #e5a515 !important;
    color: #fff !important;
}

.slick-cell {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 125%;
    padding-left: 3px;
}

.slick-cell-center {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-cell-item {
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.slick-cell.selected {
    background: #f2d600;
    color: #555555;
}

.slick-cell:hover {
    background-color: #f2d600;
    color: #555555;
}

.slick-cell-item-disable {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9B9B9B !important;
}

/* ------------------------------------ */
/* text cell alignment & format classes */
/* ------------------------------------ */
/* left */
.text-left-top, .text-top-left {
    flex-direction: row;
    align-items: flex-start;
}

.text-left {
    flex-direction: row;
    align-items: center;
}

.text-left-bottom, .text-bottom-left {
    flex-direction: row;
    align-items: flex-end;
}

/* center */
.text-center-top, .text-top-center {
    flex-direction: column;
    align-items: center;
}

.text-center {
    flex-direction: column;
    justify-content: center;
}

.text-center-bottom, .text-bottom-center {
    flex-direction: column-reverse;
    align-items: center;
}

/* right */
.text-right-top, .text-top-right {
    flex-direction: row-reverse;
    align-items: flex-start;
}

.text-right {
    flex-direction: row-reverse;
    align-items: center;
}

.text-right-bottom, .text-bottom-right {
    flex-direction: row-reverse;
    align-items: flex-end;
}

/* text */
.text-normal {
    font-weight: normal;
    font-style: normal;
}

.text-italic {
    font-weight: normal;
    font-style: italic;
}

.text-small-caps {
    font-weight: normal;
    font-variant: small-caps;
}

/* text bold */
.text-bold {
    font-weight: bold;
    font-style: normal;
}

.text-bold-italic, .text-italic-bold {
    font-weight: bold;
    font-style: italic;
}

.text-bold-small-caps, .text-small-caps-bold {
    font-weight: bold;
    font-variant: small-caps;
}

/* text bolder */
.text-bolder {
    font-weight: bolder;
    font-style: normal;
}

.text-bolder-italic, .text-italic-bolder {
    font-weight: bolder;
    font-style: italic;
}

.text-bolder-small-caps, .text-small-caps-bolder {
    font-weight: bolder;
    font-variant: small-caps;
}

/* text lighter */
.text-lighter {
    font-weight: lighter;
    font-style: normal;
}

.text-lighter-italic, .text-italic-lighter {
    font-weight: lighter;
    font-style: italic;
}

.text-lighter-small-caps, .text-small-caps-lighter {
    font-weight: lighter;
    font-variant: small-caps;
}

/* colored text */
.text-red {
    color: red !important;
}

/* ----------------------- */
/* custom filter (e.g) CSS */
/* ----------------------- */
.slick-custom-filter {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
}

/* slick head row filter */
.filterbarInputContainer {
    padding: 0px;
    margin: 0px;
    margin-right: 4px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

input.filterbarInput[type=text] {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    vertical-align: top;
}

input.filterbarInput[type=checkbox] {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    vertical-align: center;
    width: 75%;
}

/* ----------------------- */
/* some SVG                */
/* ----------------------- */
.table-icon line {
    stroke: #555555;
}

.table-icon polygon {
    stroke: #555555;
    fill: #555555;
}

.table-icon polyline {
    stroke: #555555;
    fill: #555555;
}

.table-icon rect {
    stroke: #555555;
}

/* -------------------- */
/* footer container CSS */
/* -------------------- */
.footerContainer {
    background-color: #e6e6e6;
    font-family: Arial;
    font-size: 15px;
}

.footerContainer table {
    border-collapse: collapse;
    height: 100%;
}

.footerContainer td {
    padding: 0px;
}

.footerContainer .contentArea {
    display: flex;
    height: 100%;
}

.footerContainer .contentArea.reverse {
    float: right;
    margin-right: 5px;
}

.footerContainer .contentArea .searchButton {
    display: grid;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    -ms-flex-direction: row;
    -ms-flex-item-align: center;
    padding: 2px;
    margin: auto 0px auto 5px;
    border: 1px solid #555555;
    border-radius: 4px;
    background-color: #e6e6e6;
    text-decoration: none;
    color: #555555;
}

.footerContainer .contentArea .searchButton .iconButton {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.footerContainer .contentArea .searchButton:hover {
    background-color: #f2d600;
}

.footerContainer .contentArea .searchButton.active {
    color: #FFFFFF;
    background-color: #555555;
}

.footerContainer .contentArea .searchButton.active circle,
.footerContainer .contentArea .searchButton.active rect {
    stroke: #fff;
    fill: #fff;
}

.footerContainer .contentArea .pagingButton {
    display: grid;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    -ms-flex-direction: row;
    -ms-flex-item-align: center;
    padding: 2px;
    margin: auto 0px auto 5px;
    border: 1px solid #555555;
    border-radius: 4px;
    background-color: #e6e6e6;
    text-decoration: none;
    color: #555555;
}

.footerContainer .contentArea .pagingButton:hover {
    background-color: #f2d600;
}

.footerContainer .contentArea .pagingButton:active {
    background-color: #555555;
}

.footerContainer .contentArea .pagingButton.disabled {
    color: #cccccc;
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    pointer-events: none;
}

.footerContainer .contentArea .pagingButton polygon,
.footerContainer .contentArea .pagingButton rect {
    fill: #555555;
}

.footerContainer .contentArea .pagingButton.disabled polygon,
.footerContainer .contentArea .pagingButton.disabled rect {
    fill: #cccccc;
}

.footerContainer .contentArea .pagingButton .pagingButtonIcon {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.footerContainer .contentArea .contentText {
    flex-direction: row;
    align-items: center;
    -ms-flex-direction: row;
    -ms-flex-item-align: center;
    margin: auto 0px auto 5px;
}

.footerContainer .contentArea .pagingInput {
    flex-direction: row;
    align-items: center;
    -ms-flex-direction: row;
    -ms-flex-item-align: center;
    margin: auto 0px auto 5px;
}

.footerContainer .contentArea .pagingInput input[type=text] {
    flex-direction: row;
    align-items: center;
    -ms-flex-direction: row;
    -ms-flex-item-align: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 12px;
}

.footerContainer .contentArea .pagingInput input[type=button] {
    flex-direction: row;
    align-items: center;
    -ms-flex-direction: row;
    -ms-flex-item-align: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 12px;
}

.footerContainer .contentArea .contentTextReverse {
    flex-direction: row-reverse;
    align-items: center;
    -ms-flex-direction: row-reverse;
    -ms-flex-item-align: center;
    margin: auto 0px auto 5px;
}

.footerContainer .contentArea .dataTextMode {
    flex-direction: row-reverse;
    align-items: center;
    -ms-flex-direction: row-reverse;
    -ms-flex-item-align: center;
    margin: auto 0px auto 5px;
    margin-right: 10px;
    font-weight: bold;
}

.footerContainer .contentArea .dataTextMode.active {
    color: #f2d600;
}

.footerContainer .contentArea .dataIcon {
    display: grid;
    display: -ms-flexbox;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin: auto auto auto auto;
    font-size: 80%;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 2px;
}

.footerContainer .contentArea .iconButton {
    display: grid;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    -ms-flex-direction: row;
    -ms-flex-item-align: center;
    width: 20px;
    min-width: 20px;
    margin: auto auto auto auto;
    height: 15px;
    padding-bottom: 2px;
}

.footerContainer .contentArea .iconButton .iconButton {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.footerContainer .contentArea .iconButton.active rect {
    stroke: #f2d600;
}

.footerContainer .contentArea .iconButton.animate polygon,
.footerContainer .contentArea .iconButton.animate rect {
    stroke: #f2d600;
    animation-name: iconButtonAnimation_1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: center center;
}

@keyframes iconButtonAnimation_1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: .0;
    }
    100% {
        opacity: 1.0;
    }
}

.footerContainer .contentArea .messageWrapper {
    flex-direction: row;
    align-items: center;
    -ms-flex-direction: row;
    -ms-flex-item-align: center;
    margin: auto auto auto auto;
}

.footerContainer .contentArea .messageWrapper > div {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    min-width: 0;
    max-width: 100%;
}

.pagingButton .fas, #notification_area {
	 cursor: default;	
}