.userIcon__container {
	display: flex;
	background: black;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}
.circle {
	background: white;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.half-circle {
	background: white;
	width: 20px;
	height: 10px;
	border-radius: 50% 50% 2px 2px ;
}