/* add this file to project ... and place your custom css in here */

.atviseTheme .blueBackground.slick-row.even {
    background-color: #b9fcff;

}
.atviseTheme .blueBackground.slick-row.odd {
    background-color: #b9fcff;

}

.atviseTheme .greenBackground.slick-row.even{
    background-color: #c0f5a7;
}

.atviseTheme .greenBackground.slick-row.odd{
    background-color: #c0f5a7;
}

