.left-menu-buttons {
background-color: #2e2d3b;
padding-left: 7px;
width: 60px;
height: 50px;
background-repeat: no-repeat;
background-position: center;
position: relative;
}
.left-menu-buttons:hover {
background-color: #c3c3cf;

}
.left-menu-buttons:hover::after { 
	content: attr(tooltip); 
	position: absolute; 
    left: 50%; top: 20%; 
    color: #000000;
    z-index: 999; 
    background: rgba(255,255,230,0.8); 
    font-family: Arial, sans-serif; 
    font-size: 11px; 
    margin-left: 5px;
    padding: 5px 10px; 
    border: 1px solid #333; 
    border-radius: 5px;
}
.left-menu-buttons-disactivated {
background-color: #3d3d3d
}
.left-menu-buttons-disactivated:hover {
background-color: #3d3d3d
}
.left-menu-buttons-disactivated:hover::after { 
	display: none;
	position: absolute; 
    left: 80%; top: 30%; 
    color: #000000;
    z-index: 999; 
    background: rgba(255,255,230,0.5); 
    font-family: Arial, sans-serif; 
    font-size: 11px; 
    padding: 5px 10px; 
    border: 1px solid #333; 
    border-radius: 5px;
}